@import "variables";

html {
  overflow-x: hidden;
}
body {
  font-family: 'Exo', sans-serif;
  background-color: $primary-text-color;
  color: $secondary-text-color;
  overflow-x: hidden;
}

a {
  color: $secondary-text-color;

  &:hover,
  &:focus,
  &:active {
    color: $secondary-text-color;
  }
}

.site-content-contain {
  background-color: $primary-text-color;
}

.custom-header {
  margin-bottom: 0;
}

.site-header .navigation-top .menu-scroll-down {
  display: none;
}

@media screen and (min-width: 48em) {
  .panel-content .wrap {
    padding-bottom: 4.5em;
    padding-top: 6em;
  }
}

@media screen and (min-width: 30em) {
  .panel-content .wrap {
    padding-bottom: 2em;
    padding-top: 3.5em;
  }
}

.panel-content .wrap {
  padding-bottom: 0.5em;
  padding-top: 12em;
}

h2 {
  font-size: 50px;

  &:before {
    content: "";
    width: 75%;
    height: 5px;
    background-color: $primary-text-color;
    position: absolute;
    top: -15px;
  }
}

h1 {
  font-size: 80px;
  font-weight: 400;
  color: $primary-text-color;

  a:hover {
    text-decoration: none;
  }

  &:before {
    content: "";
    width: 75%;
    height: 5px;
    background-color: $primary-text-color;
    position: absolute;
    top: -15px;
  }
}

p {
  font-size: 18px;
}

@media screen and (max-width: $small-device-size) {
  h2 {
    font-size: 30px;
  }

  .wrap {
    padding-left: 1em;
    padding-right: 1em;
  }
}
