@import "variables";

body:not(.home) .section-contact {
  .section-heading {
    padding-top: 0;
  }
  .section-content p {
    font-size: 16px;
    padding: 0;
    text-align: left;
  }
}

.section-contact {
  background: $primary-color;
  color: $secondary-text-color;

  .fa {
    font-size: 30px;
  }

  .container-fluid {
    padding: 0;
  }

  .section-content {
    padding: 10% 0 0 0;
  }

  .section-heading {
    text-align: left;
    margin-bottom: 20px;
    padding-top: 0;
  }
}

.section-single {

  .section-content {
    padding: 1% 0;
  }
}

.rights {
  padding: 25px 0 15px 0;

  p {
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
  }

  .icon-block {
    margin-right: 0;
  }
}

.site-footer {
  margin-top: 0;
}

@media screen and (max-width: 360px) {

  .footer-map {
    display: none;
  }
  
  .icon-text {
    display: none;
  }
}

