@import "variables";

input[type="text"], input[type="email"], input[type="password"], textarea {
  height: 30px;
  background-color: transparent;
  color: $secondary-text-color;
  width: 100%;
  margin: 0;
  border: none;
}

.wpcf7-form {
  p {
    text-align: left;
    border-bottom: 2px solid $secondary-text-color;
    width: 80%;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
    padding: 0;

    &:last-of-type {
      border-bottom: 2px solid transparent;
    }
  }

  span {
    display: inline-block;
  }

  button, input[type="button"], input[type="submit"] {
    font-size: 18px;
    margin: 10px 0 30px 0;
    padding: 10px 20px;
  }

  input[type="text"]:focus, input[type="email"]:focus,
  input[type="url"]:focus, input[type="password"]:focus,
  input[type="search"]:focus, input[type="number"]:focus,
  input[type="tel"]:focus, input[type="range"]:focus,
  input[type="date"]:focus, input[type="month"]:focus,
  input[type="week"]:focus, input[type="time"]:focus,
  input[type="datetime"]:focus, input[type="datetime-local"]:focus,
  input[type="color"]:focus, textarea:focus {
    color: $secondary-text-color;
  }
}