@import "variables";

.navigation-top .current-menu-item > a, .navigation-top .current_page_item > a {
  color: $primary-text-color;
  //text-decoration: underline;
  border-bottom: 2px solid $primary-text-color;
}

.navigation-top {
  top: 0;
  left: auto;
  bottom: auto;
  background: transparent;
  border: none;

  li {
    a {
      color: $primary-text-color;
      font-size: 18px;
      text-transform: uppercase;
    }
  }
}

.main-navigation {
  a {
    &:hover,
    &:focus {
      color: $primary-text-color;
      text-decoration: none;
      border-bottom: 2px solid $primary-text-color;
    }
  }
}

.js .main-navigation ul, .js .main-navigation ul ul, .js .main-navigation > div > ul {
  float: right;
}

.pre-header {
  height: 50px;
  z-index: 5;
  background: $tertiary-color;
  position: relative;
}

.phone-number {
  float: right;
  line-height: 50px;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 600;
  display: inline-block;
  color: $primary-text-color;

  .fa {
    margin-right: 5px;
    color: $primary-text-color;
  }

}

body.has-header-image .site-title,
body.has-header-video .site-title,
body.has-header-image .site-title a,
body.has-header-video .site-title a {
  color: $primary-text-color;
}

body:not(.home) {
  .logo {
    display: inline-block;

    .site-branding {
      padding: 0;
    }
  }

  .custom-header {
    height: 275px;
  }
}

.home .site-branding {
  top: 0;
}

.home {
  .header-blocks {
    margin-top: -100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
  }

  .header-block {
    width: 24%;
    display: inline-block;
    padding: 0 10px;
    position: relative;

    .header-block-content {
      width: 100%;
      height: 200px;
      padding-right: 5px;
      background: $primary-color;
      position: relative;
      -moz-transition: height 0.3s ease;
      -webkit-transition: height 0.3s ease;
      -o-transition: height 0.3s ease;
      transition: height 0.3s ease;

      &:hover {
        height: 400px;
        background: lighten($primary-color, 15%);
        cursor: pointer;

        svg {
          stroke: rgba(#fff, 0.5);
          stroke-width: 2;
          stroke-dasharray: 100px;
          stroke-dashoffset: 100px;
          animation-name: draw;
          animation-duration: 4s;
          animation-fill-mode: forwards; // Stay on the last frame
          animation-iteration-count: 1; // Run only once
          animation-timing-function: linear;
        }

        @keyframes draw {
          0% {
            fill-opacity: 0;
          }

          90% {
            stroke-dashoffset: 0;
            stroke-width: 1;
            fill-opacity: 0;
          }
          100% {
            stroke-width: 0;
            fill-opacity: 1;
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }

      svg {
        padding: 0 15%;
        height: 90px;
        margin: 0 auto;
        display: block;
      }

      p {
        text-align: center;
        text-transform: uppercase;
        font-size: 25px;
        color: $secondary-text-color;

      }

      .header-block-image {
        padding: 30px 0 20px 0;
      }
    }

    ul {
      float: left;
      padding-left: 20px;
      margin-top: 50px;

      &.submenu-services {
        display: none;
        visibility: hidden;
        opacity: 0;
        position: relative;

        li {
          list-style: none;
          padding: 5px 0;
          font-size: 16px;
        }
      }

      &.show-submenu {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.5s ease;
      }
    }
  }
}

.single-page .wrap {

  text-align: center;

  .header-blocks {
    margin-top: -180px;
  }
}

.admin-bar.twentyseventeen-front-page.has-header-image .custom-header-media,
.admin-bar.twentyseventeen-front-page.has-header-video .custom-header-media,
.admin-bar.home.blog.has-header-image .custom-header-media,
.admin-bar.home.blog.has-header-video .custom-header-media {
  height: calc(100vh - 220px);
}

.site-navigation-fixed.navigation-top {
  background-color: rgba($tertiary-color, .9);
}

.custom-header-media:before {
  background-color: rgba(255, 255, 255, 0.4);
}

.twentyseventeen-front-page.has-header-image .custom-header-media:before,
.twentyseventeen-front-page.has-header-video .custom-header-media:before,
.home.blog.has-header-image .custom-header-media:before,
.home.blog.has-header-video .custom-header-media:before {
  height: 100%;
}

@media screen and (max-width: $small-device-size) {
  .home {
    .site-branding {
      padding: 0;
    }

    .header-block {
      left: 10px;
      width: 100%;
      display: block;
      padding: 0;

      .header-block-content {
        width: 92%;
        height: 40px;
        margin-bottom: 5px;

        &:hover {
          height: 30vh;
        }

        svg {
          height: 20px;
        }

        .header-block-image {
          padding: 5px;
          display: inline-block;
        }

        p {
          display: inline-block;
          font-size: 20px;
          padding-left: 20px;
        }
      }
    }
  }

  .logo {
    width: 50%;
    display: inline-block;
    margin-top: 5px;
  }

  .has-header-image.twentyseventeen-front-page .custom-header,
  .has-header-video.twentyseventeen-front-page .custom-header,
  .has-header-image.home.blog .custom-header,
  .has-header-video.home.blog .custom-header {
    height: 50vh;
  }
}

@media screen and (min-width: $small-device-size) and (max-width: $medium-device-size) {
  .has-header-image.twentyseventeen-front-page .custom-header,
  .has-header-video.twentyseventeen-front-page .custom-header,
  .has-header-image.home.blog .custom-header,
  .has-header-video.home.blog .custom-header {
    height: 50vh;
  }

  .home {

    .header-blocks {
      margin-top: -55px;
    }

    .header-block {

      ul {
        margin-top: 10px;
        padding-left: 15px;
      }

      .header-block-content {

        width: 92%;
        height: 110px;
        margin-bottom: 5px;

        &:hover {
          height: 90vh;
        }

        svg {
          height: 30px;
          //width: 25%;
        }

        .header-block-image {
          padding: 20px 0;
        }

        p {
          font-size: 20px;
        }
      }
    }
  }
}