@import "variables";

.gallery1 {
  &#weblizar_98 .wrgf-header-label {
    font-family: 'Exo', sans-serif !important;
    display: block;
    text-align: left;
    padding-left: 10px !important;
    padding-top: 100px;
    text-transform: none;
    color: $secondary-text-color !important;
    font-size: 24px !important;
    letter-spacing: 1px;
  }

  h2:before {
    content: "";
    width: 0;
    height: 0;
    background: transparent;
  }

}