@import "variables";

.section {
  min-height: 500px;

  .section-content {
    padding: 20% 0;
  }

  .section-heading {
    text-align: center;
    margin-bottom: 50px;
  }

  h2 {
    text-transform: uppercase;
    position: relative;
    display: inline;

    &:before {
      content: "";
      background: $secondary-text-color;
    }
  }
}

.section-about {

  p {
    text-align: center;
    font-size: 22px;
  }
}

@media screen and (max-width: $small-device-size) {
  .section {
    min-height: 350px;

    .section-content {
      padding: 10px 0;

      .section-heading {
        margin: 10px;
      }
    }

      p {
        text-align: center;
        font-size: 18px;
      }

  }
}

.section-gallery {

  background: $secondary-text-color;
  color: $secondary-color;

  .section-content {
    padding: 10% 0 5% 0;
  }

  h2:before {
    background: $primary-text-color;
  }
}

iframe {
  margin-bottom: 0;
}

.wrap.section-single .section-content {
  padding: 1% 0;
}

@media screen and (max-width: $small-device-size) {
  .section-about {
    margin-top: 100px;
  }


}


