@import "variables";

body:not(.home) {

  .header-blocks {
    margin-top: -100px;
    position: absolute;
    top: 0;
    z-index: 5;
    text-align: center;
    left: 43%;
  }
  .header-block {
    display: inline-block;
    padding: 0 10px;
    position: relative;
    width: 100%;

    .header-block-content {
      width: 100%;
      height: 200px;
      padding-right: 5px;
      background: $primary-color;
      position: relative;
      -moz-transition: height 0.3s ease;
      -webkit-transition: height 0.3s ease;
      -o-transition: height 0.3s ease;
      transition: height 0.3s ease;

      svg {
        padding: 0 15%;
        height: 90px;
        margin: 0 auto;
        display: block;
      }

      p {
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        color: $secondary-text-color;

      }

      .header-block-image {
        padding: 30px 0 20px 0;
      }
    }

    ul {
      float: left;
      padding-left: 20px;
      margin-top: 50px;

      &.submenu-services {
        display: none;
        visibility: hidden;
        opacity: 0;
        position: relative;

        li {
          list-style: none;
          padding: 5px 0;
          font-size: 16px;
        }
      }

      &.show-submenu {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.5s ease;
      }
    }
  }
  .section-content {
    p {
      font-size: 18px;
      padding: 15px 0;
      text-align: center;
    }

    ul {
      margin-bottom: 50px;
      li {
        list-style: none;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 5px;

        &:before {
          content: "";
          width: 18px;
          height: 18px;
          background: $primary-color;
          display: inline-block;
          margin-right: 10px;
          margin-top: 10px;
        }
      }
    }

    .section-heading {
      padding-top: 50px;
      margin-bottom: 20px;
    }

  }
}

@media screen and (max-height: $small-device-size) {
  body:not(.home) .header-blocks {
    left: 20%;
  }

  .navigation-top {
    position: absolute;
  }
}

@media screen and (min-height: $small-device-size) and (max-height: $medium-device-size) {
  .has-header-image.twentyseventeen-front-page .custom-header,
  .has-header-video.twentyseventeen-front-page .custom-header,
  .has-header-image.home.blog .custom-header,
  .has-header-video.home.blog .custom-header {
    height: 50vh;
  }

  .navigation-top {
    position: absolute;
  }

  //body:not(.home) .header-blocks {
  //  left: 20%;
  //}
}

