@import "variables";

tr {
  border-bottom: none;
}

td {
  font-size: 18px;
  padding-bottom: 10px;

  a {
    color: $secondary-text-color;
  }
}

.icon-block {
  float: left;
  width: 30px;
  text-align: center;
  margin-right: 20px;
}
