$primary-text-color: #333333;
$secondary-text-color: #fff;
$primary-color: #7a2b2b;
$secondary-color: #333333;
$tertiary-color: #dee0df;

$small-device-size: 430px;
$medium-device-size: 1024px;
$large-device-size: 1920px;